aiohttp==3.8.1
aiosignal==1.2.0
aniso8601==9.0.1
asgiref==3.5.0
async-timeout==4.0.2
attrs==21.4.0
backports.zoneinfo==0.2.1;python_version<"3.9"
black==21.12b0
boto3==1.24.57
celery==5.2.7
charset-normalizer==2.0.10
channels==3.0.5
channels-redis==3.4.1
click==8.0.3
Django==3.2.12
django-crum==0.7.9
django-filter==21.1
django-oauth-toolkit==2.2.0
git+https://github.com/pphetra/django-graphql-jwt@ba24f5ce#egg=django-graphql-jwt
django-graphql-playground==1.0
django-storages==1.12.3
django-tenants==3.4.2
django-cors-headers==3.13.0
easy-thumbnails==2.8.3
firebase-admin==5.2.0
frozenlist==1.3.0
graphene==3.0
graphene-django==3.0.0b7
graphene-file-upload==1.3.0
graphql-core==3.1.7
graphql-relay==3.1.5
idna==3.3
iniconfig==1.1.1
mock==4.0.3
multidict==6.0.2
mypy-extensions==0.4.3
ordered-set==4.1.0
packaging==21.3
pathspec==0.9.0
Pillow==9.0.1
platformdirs==2.4.1
pluggy==1.0.0
promise==2.3
psycopg2==2.9.3
psycopg2-binary==2.9.3
py==1.11.0
py-dateutil==2.2
python-dotenv==0.20.0
PyJWT==2.3.0
pyparsing==3.0.9
pytest==7.1.2
pytest-django==4.5.2
python-magic==0.4.27
# use the following package if you are on windows or mac
#python-magic-bin==0.4.14
pytz==2021.3
redis==4.3.4
Rx==1.6.1
singledispatch==3.7.0
six==1.16.0
simpleeval==0.9.12
sqlparse==0.4.2
tenant-schemas-celery==2.0.0
text-unidecode==1.3
tomli==1.2.3
typing_extensions==4.0.1
yarl==1.7.2
xlwt==1.3.0
uvicorn~=0.18.2
